@import url("photographer.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --primary-clr: #901C1C;
    --secondary-clr: #D3573C;
    --grey-clr: #525252;
    --light-clr: #FAFAFA;
    --font-family: "DM Sans", sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-clr);
    margin-right: 100px;
}

a, button {
    text-decoration: none;
}

a:focus, input:focus, textarea:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--primary-clr);
    border-radius: 1px;
}

button:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-offset: .3rem;
    outline-color: var(--primary-clr);
    border-radius: 10px;
}

/* Reset select styles */
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }

/* Remove arrow for lower IE versions */
select::-ms-expand {
  display: none;
}

/* Apply if navigator support :focus-visible (mostly for safari) */
@supports selector(:focus-visible){
    a:focus, input:focus, button:focus, textarea:focus  {
        outline: none;
    }

    a:focus-visible, input:focus-visible, textarea:focus-visible, i:focus-visible {
        outline-width: 2px;
        outline-style: solid;
        outline-color: var(--primary-clr);
        border-radius: 10px;
    }

    button:focus-visible {
        outline-width: 2px;
        outline-style: solid;
        outline-offset: .3rem;
        outline-color: var(--primary-clr);
        border-radius: 10px;
    }
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 70px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_pres {
    margin-bottom: 0;
}

.photographer_pres a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 0;
}

.photographer_pres figcaption {
    color: var(--secondary-clr);
    font-size: 36px;
    margin: 1rem 0 0 0;
    padding: 0;
}

.photographer_pres img, .photographer_portrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgba(153, 153, 153, 0.548);
    object-fit: cover;
}

.photographer_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.photographer_desc p {
    margin: 0;
    padding: 0;
}

.location {
    color: var(--primary-clr);
    font-size: .8rem;
}

.tagline {
    font-size: .6rem;
}

.price {
    color: var(--grey-clr);
    font-size: .6rem;
}
