@import url("photographer.css");

:root {
    --primary-clr: #901C1C;
    --secondary-clr: #D3573C;
    --grey-clr: #525252;
    --light-clr: #FAFAFA;

}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-clr);
    margin-right: 100px;
}

a {
    text-decoration: none;
}

a:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--primary-clr);
    border-radius: 10px;
}

/* Apply if navigator support :focus-visible (mostly for safari) */
@supports selector(:focus-visible){
    a:focus {
        outline: none;
    }

    a:focus-visible {
        outline-width: 2px;
        outline-style: solid;
        outline-color: var(--primary-clr);
        border-radius: 10px;
    }
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 70px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_pres {
    margin-bottom: 0;
}

.photographer_pres a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 0;
}

.photographer_pres figcaption {
    color: var(--secondary-clr);
    font-size: 36px;
    margin: 1rem 0 0 0;
    padding: 0;
}

.photographer_pres img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgba(153, 153, 153, 0.548);
    object-fit: cover;
}

.photographer_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.photographer_desc p {
    margin: 0;
    padding: 0;
}

.location {
    color: var(--primary-clr);
    font-size: .8rem;
}

.tagline {
    font-size: .6rem;
}

.price {
    color: var(--grey-clr);
    font-size: .6rem;
}